.month {
  .days {
    background: rgba(0, 0, 77, 0.6);
    display: inline-flex;
    width: 75%;
    margin-left: 13.5%;
    flex-wrap: wrap;
    margin-top: -3px;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
  }
}
