.lesson {
  color: #fff;
  position: relative;
  font-size: 12px;
  padding: 3px 5px;
  margin-bottom: 3px;

  &:hover {
    .tools {
      visibility: visible;
    }
  }

  strong {
    display: block;
  }

  .tools {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 3px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    color: rgba(0, 0, 77, 1);

    button {
      float: right;
      font-size: 14px;

      .fas {
        color: rgba(0, 0, 77, 1);
        font-size: 14px;
      }
    }
  }
}
