.month-header {
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    flex: 3;

    &:first-child {
      text-align: left;
      margin-left: 30%;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
      margin-right: 30%;
    }

    h1 {
      font-size: 40px;
    }

    .fas {
      font-size: 55px;
      color: rgba(255, 255, 255, 0.7);
      &:hover {
        color: #fff;
      }
    }
  }
}
