@import "https://fonts.googleapis.com/css?family=Montserrat:600";
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: normal 16px "Montserrat", sans-serif;
  padding: 15px;
  background-attachment: fixed;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  z-index: -99;
  opacity: 0.8;
}

button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* Header */

a {
  color: rgba(0, 0, 77);
  font-size: 20px;
}
a.homeLink {
  color: white;
}

.navbar-default {
  background-color: rgba(0, 0, 77, 0.3);

  border-width: 3px;
  color: white;
  border-radius: 10px;
}

#basic-nav-dropdown {
  color: white;
}

.badge {
  background-color: red;
  margin-bottom: 10px;
}

.convo-form {
  width: 50%;
  margin-left: 25%;
  justify-content: center;
}

/* Home Page */
.jumbotron {
  background-color: rgba(0, 0, 77, 0.3);
  color: white;
  border-width: 3px;
  border: solid;
  border-radius: 10px;
  padding-left: 20px;
  margin-top: 5%;
  /* text-shadow: -1px -1px 0 #00004d, 1px -1px 0 #00004d, -1px 1px 0 #00004d,
    1px 1px 0 #00004d; */
}
.tennis_ball {
  margin-top: 5px;
  width: 10px;
  height: 10px;
}

.homePage_tennis {
  margin-top: 15px;
  height: 30px;
  width: 30px;
}

/* Log In Form */
.login {
  background-color: rgba(0, 0, 77, 0.6);
  text-align: center;
  max-width: 30%;
  max-height: 50%;
  border: solid;
  border-radius: 10px;
  border-width: 3px;
  border-color: white;
  justify-content: center;

  margin: 8% auto;
  padding: 40px;
  padding-top: 20px;
  color: white;
}
.formGroup {
  padding: 3px;
  display: grid;
  align-items: center;
}

.col-sm-10 {
  margin: auto;
  width: 80%;
  height: 30%;
  color: rgba(0, 0, 77);
}

.loginButton {
  width: 80%;
  margin-top: 30px;
}

label {
  font-size: 20px;
  margin-top: 10px;
}

/* Inbox */
.inboxHeader {
  color: white;
  background-color: rgba(0, 0, 77, 0.6);
  border: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 10px;
  width: 38%;
  text-align: center;
  padding: 20px;
  margin-left: 0%;
  margin-top: 40px;
  height: 70%;
  display: inline-block;
  float: left;
}

.unreadMessages {
  color: white;
  width: 100%;
  text-align: center;
}

.newConversation {
  margin-top: 20px;
  width: 50%;
  font-size: 15px;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;
  font: rgba(0, 0, 77);
}

.messageContainer {
  justify-content: center;
  display: inline-block;
  overflow: scroll;
  margin-left: 40px;
  margin-top: 40px;
  max-height: 500px;
  padding-left: 15px;
  width: 55%;
  color: white;
  background-color: rgba(0, 0, 77, 0.6);
  border: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 10px;
}
