@import "https://fonts.googleapis.com/css?family=Montserrat:600";
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: normal 16px "Montserrat", sans-serif;
  padding: 15px;
  background-attachment: fixed;
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.convo-form {
  width: 50%;
  margin-left: 25%;
  justify-content: center;
}

.tennis_ball {
  margin-top: 5px;
  width: 10px;
  height: 10px;
}

.homePage_tennis {
  margin-top: 15px;
  height: 30px;
  width: 30px;
}
